.modal {
  posticion: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 100vh;
  background-color:rgba(0,0,0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
}

.isOpen {
  display: flex;
}

.modalContent {
  padding: 1rem;
  position: relative;
  min-width: 320px;
  max-width: 480px;
  min-height: 200px; 
  max-height: 600px;
  overflow-y: auto;
  background-color: #fff; 
  border-radius: 10px;
  & img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
}

.modalClose {
  position: absolute;
  top: 1rem;
  right: 1rem;
}